/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*html, body, h1, h2, h3, h4, p {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; margin:0; padding:0}*/
html, body, h1, h2, h3, h4, p {font-family: 'Open Sans', sans-serif !important; margin:0; padding:0}
h1,h2,h3,h4, p {margin:15px 0 20px 0 }



/*general*/
.lg-btns .btn {padding:15px 65px}
.no-gutter {margin:0}
.page-heading {font-weight: 300; text-align:center; font-size:40px}
.section-heading {font-weight:300; font-size:30px; margin: 70px 0 15px 0}
.logo-page a {display:block; text-indent: -9999px; background:  url('../img/mps_logo_dark.png') no-repeat; width:75px; height:75px; background-size:contain; margin: 40px auto 20px}
.logo-home a {display:block; text-indent: -9999px; background:  url('../img/mps_logo_white_75px.png') no-repeat; background-size:contain; width:75px; height:75px;}
.container {padding-bottom: 100px}

/*form controls*/
.jumbo-input {padding:30px 10px; font-size:2em;}
.form-section {clear:both; margin-bottom: 10px; margin-top:25px}
.next-btn, .prev-btn {padding:10px 30px; margin-top: 40px}
.next-btn .arrow, .prev-btn .arrow {/*position:relative; left:-10px*/}
.btn-alt {background-color:#36ac9c !important; border-color:#23a796!important; font-weight:300}
.form-section-heading-chk {/*margin-left: 20%*/}
.section-content {font-size:14px; margin-bottom:40px}

.review-btn {padding:15px 30px}
.controls {height:10%; overflow: hidden; margin-top:40px}

.controls .next-btn, .controls .prev-btn {background:#fff; color:#555; padding:10px 30px; margin-top: 0px; font-size:18px}
.controls .next-btn i.fa-arrow-right {position:relative; left:5px;}
.controls .prev-btn i.fa-arrow-left {position:relative; left:-5px;}


#supplementForm div.form-section:last-child {margin-bottom: 20px}

/*home*/
#hero-container {background:url("../img/hero.jpg") no-repeat; width: 100%; height:550px; color:#fff; background-size:cover; margin-bottom: 25px}
#hero-content {padding:60px 0 0 10%; width:65%}
#hero-tagline-container .main-tag {font-size:36px; font-weight : 300; margin-top:25px}
#home-page .footer {background: #fff;}
#home-page .footer-links {width:233px}

.hero-action {margin-top:20px}
.logo {margin:0;}

.circle { border-radius: 50%; width: 75px; height: 75px;}
.intro-circle {background: #d8d9dd; color:#fff; font-size:50px; text-align: center; padding-top:2px}

.intro-section {padding-bottom: 35px; margin-bottom: 10px}
.intro-section, .call-to-action-content {width:80%; margin: 0 auto;}
.intro-section-main-heading {text-align: center;  font-size: 34px;  font-weight: 300; margin-top: 50px; margin-bottom: 25px;}
.intro-container .intro-circle {margin: 0 auto}
.intro-container .intro-heading, .intro-container .intro-text {text-align: center;  margin-top: 30px;  padding: 0 10px}
.intro-heading {font-size:20px}
.intro-container .icon {font-size:80px; display: inherit; text-align: center; margin-top:60px}

.call-to-action-container {background: #f4f4f4; padding:25px 25px 30px; margin-top: 50px;}
.call-to-action-content .call-to-action-text {font-size:30px; font-weight:300; margin-top: 32px}
.call-to-action {margin-top:30px;}
.hero-action, .call-to-action {font-weight: 300; font-size: 20px; padding: 13px 40px  }


/*Select customization level page*/
#select-customization-level-page .container {margin-bottom: 125px }
#select-customization-level-page .page-heading {margin: 30px 0 40px}


/*Custom Selection*/
#custom-selection-page .custom-selection-heading, #custom-selection-page .logo {text-align:center}
.select-customization-container .custom-selection-content-container
{border: 1px solid rgb(211, 208, 208); border-radius:4px; padding:40px; text-align: center; color:#444}
.custom-selection a {color:#333; text-decoration: none;}

#custom-selection-page .page-heading {margin-bottom: 60px}
.custom-selection-content-container .custom-selection-heading {font-size:24px; margin-bottom: 10px}
.custom-selection-content-container .custom-selection-subheading {font-size:20px; margin:0}

.left-col {float:left; width:45%;}
.right-col {float:right; width:45%;}


#customized-page .lg-btns .btn {padding:10px 20px;}
#customized-page .section-heading {font-size:20px; margin: 40px 0 15px 0}

.pre-workout-section {text-align:center}
.current-pre-workout-container {margin-bottom: 50px;}

.select-customization-container .icon {font-size:50px}
.btn-default.active {color: #fff; background-color: #5bc0de;  border-color: #46b8da}
/*.btn-default.active {color: #fff; background-color: #36ac9c !important;  border-color: #23a796!important;}*/


.current-pre-workout-container, .comments-container, .name-supplement-container {width:70%; /*left:20%*/}

/*design*/
.design-supplement-container {/*padding:0 15%;*/}

/*footer*/
.footer {height:200px; margin-top:50px; padding:20px 10px; background:#f4f4f4; padding-bottom: 150px}
.footer-links {width:300px; margin:0 auto;}
.footer-links li{float:left; list-style: none; padding: 3px 20px;font-size:11px; color:#333333}
.footer-links a {color:#333333}


/*checkout*/

#checkout .container {width:50%}
#checkout .form-control {margin-bottom:20px}
#checkout .form-section {margin-bottom:20px; padding:20px; border:1px solid gainsboro; overflow:hidden  }
#checkout .controls {clear:both; padding: 0 8px}
.ex-date-control {display: block; width:100%;}
.ex-date-container {width:50%; float:left}
.ex-date-heading {width:100%;}
.ex-date-selection {padding-left: 15px}

#order-error {background : #f2dede;}
#order-error .err-msg {font-size:50px;  border:none; }
.payment-errors {width:100%; display: none;}

.form-section-container {
    position:absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    left:0;
    right:0;
    margin: 0 auto;
    padding: 0 20px;
    width:75%;
    margin-bottom: 100px;


}

.form-section-container.active {
    -webkit-transform:translateX(0)!important;
    transform: translateX(0)
    opacity : 1;



}
.form-section-container.next {
    -webkit-transform: translateX(3000px)!important;
    transform: translateX(3000px);
    opacity:1;

}
.form-section-container.prev {
    -webkit-transform : translateX(-3000px)!important;
    transform: translateX(-3000px)
}
/*.form-section-container:nth-child(1) {background:blue}
.form-section-container:nth-child(2) {background:green}
.form-section-container:nth-child(3) {background:red}
.form-section-container:nth-child(4) {background:black}*/

.form-section-wrapper { height:700px;/* padding:0 20px*/}
.container {overflow: hidden; -webkit-perspective:200px; perspective: 200px;}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*x-small*/
@media (max-width:767px) {
    #hero-container {height:400px}
}

/*small*/
@media (min-width: 768px) {
    #hero-container {height:450px}
    /*.form-section-container {padding: 0 100px}*/
}
/*medium*/
@media (min-width: 992px) {
    #hero-container {height:500px}
    /*.form-section-container {padding: 0 100px}*/
}

@media (min-width: 1200px) {
    #hero-container {height:550px}


}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
