<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- Latest compiled and minified CSS -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body id="about-page">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="wrapper">
        <nav id="main-nav">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <div class="container">
            <h1 class="logo-page">
                <a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>


            <h2 class="page-heading">About Us</h2>
            <div class="row">
                <div class="about-content">
                    <p>MyPerfectSupplement is about enabling you to reach your fitness, performance,
                        and everyday goals. There are thousands of products on the market that strive to do the
                        same but fail to realize that every individual is different. Whether you are trying to get through
                        a tedious workday or training for the bodybuilding nationals, we can help you help yourself. No more “proprietary”
                        blends that prevent you from knowing exactly what is going into your body. No more, cycling on and off between different
                        products. No more questions. We want to make your supplement regiment an easy, personalized and educational experience.
                        Please do not hesitate to reach out to <a href="mailto:suppor@myperfectsuplement.com">suppor@myperfectsuplement.com</a> for any additional questions or to provide feedback or recommendations.</p>
                </div>

            </div><!--end custom select row-->
        </div><!--end container-->
    </div>



        <div class="footer">
            <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>
            <ul class="footer-links">
                <li><a href="#" title="#">Create</a></li>

                <li><a href="#" title="#">FAQ</a></li>
                <li><a href="#" title="#">Contact</a></li>
            </ul>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
