<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Perfect Supplement</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body id="customized-page">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
    <nav id="main-nav">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="container">

        <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>

        <!--    <h2 class="page-heading">We are here to help</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
        <div class="row customized-supplement-container form-section-wrapper">
            <form id="supplementForm">

                <div class="active form-section-container nutra-container">
                    <div class="form-group form-section">
                        <h2 class="page-heading">This is Kim. Your supplement expert.</h2>
                        <img id="nutra-girl" src="img/nutra-girl-sm.jpg">
                        <p class="nutra-content">She is going to help you create the <strong>Perfect</strong> supplement fully customized to your body type and athletic needs.
                        Once she gathers some information about you and your fitness goals she will be able to start creating your supplement.

                        </p>
                        <!--<label for="supplementName"><span class="sub-heading">Have some fun here...</span></label>
                        <input type="text" name="supplementName" class="form-control input-lg">-->

                        <div class="controls clearfix">
                            <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Get started <i
                                    class="arrow fa fa-arrow-right"></i></a>

                        </div>
                    </div>
                    <!--end form group-->
                </div>
                <!--end section-->


                <div class="next form-section-container name-supplement-container">
                    <div class="form-group form-section">
                        <h2 class="page-heading">Name Your Supplement</h2>
                        <label for="supplementName"><span class="sub-heading">Have some fun here...</span></label>
                        <input type="text" name="supplementName" class="form-control input-lg" id="supplementName">

                        <div class="controls">
                            <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next <i
                                    class="arrow fa fa-arrow-right"></i></a>
                          <!--  <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                    class="arrow fa fa-arrow-left"></i>Back</a>-->

                        </div>
                    </div>
                    <!--end form group-->
                </div>
                <!--end section-->

                <div class="next form-section-container">
                    <h2 id="customize" class="page-heading">Personal Information</h2>

                    <div class="form-group form-section">
                        <h3 class="section-heading">How old are you?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Age" value="18-24" checked="checked">18-24
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Age" value="25-34" autocomplete="off"> 25-34
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Age" value="35-44" autocomplete="off"> 35-44
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Age" value="45-54" autocomplete="off"> 45-54
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Age" value="55+" autocomplete="off"> 55+
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">How much do you weigh? (lbs)</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Weight" value="120" checked="checked">- 120
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Weight" value="121-140" autocomplete="off"> 121-140
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Weight" value="141-160" autocomplete="off"> 141-160
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Weight" value="161-180" autocomplete="off"> 161-180
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Weight" value="181-200" autocomplete="off"> 181-200
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Weight" value="201-220" autocomplete="off"> 201-220
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Weight" value="221-240" autocomplete="off"> 221-240
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Weight" value="241+" autocomplete="off"> 241+
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">How tall are you?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Height" value="5.2" checked="checked"> - 5'2"
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Height" value="5.2-5.4" autocomplete="off"> 5'2" - 5'4"
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Height" value="5.4-5.6" autocomplete="off"> 5'4" - 5'6
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Height" value="5.6-5.8" autocomplete="off"> 5'6" - 5'8"
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Height" value="5.10-6'" autocomplete="off"> 5'10" - 6'
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Height" value="6-6.2" autocomplete="off">6' - 6'2
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Height" value="6.2+" autocomplete="off">6'2+
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">What's your gender?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Gender" value="Male" checked="checked"> Male
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Gender" value="Female"> Female
                            </label>
                        </div>

                    </div>
                    <!--end form group-->
                    <div class="controls">
                        <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next<i
                                class="fa fa-arrow-right"></i></a>
                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="arrow fa fa-arrow-left"></i>Back</a>

                    </div>
                </div>
                <!--end section-->

                <div class=" next form-section-container">
                    <h2 id="goals" class="page-heading">Goal Related Info</h2>

                    <div class="form-group form-section">
                        <h3 class="section-heading">What is your primary reason for taking a pre-workout
                            supplement?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Goal" value="Energy" checked="checked"> Increased Energy
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Goal" value="Stamina"> Increased Stamina
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Goal" value="Focus"> Increased Focus
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Goal" value="Muscle-gain"> Increased muscle gain
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Goal" value="Other"> Other
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">What type of exercise/training will you be using this mix for?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Training" value="Cardio" checked="checked"> Cardio
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Training" value="Weight Training">Weight Training
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Training" value="Crossfit"> Crossfit
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Training" value="Competition">Competition
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Training" value="Other"> Other
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">What are your training/exercise goals?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Exercise Goals" value="Gain Lean Muscle" checked="checked">
                                Gain Lean Muscle
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="Lose Weight">Lose Weight
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="Improved Strength"> Improved Strength
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="Competition">Competition
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="Improved Flexibility"> Improved Flexibility
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="Other"> Other
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">Do you play a collegiate or professional sport?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Pro or College Sport" value="No" checked="checked"> No
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Pro or College Sport" value="Collegiate">Collegiate
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Pro or College Sport" value="Professional"> Professional
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="controls">
                        <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next <i
                                class="arrow fa fa-arrow-right"></i></a>
                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="arrow fa fa-arrow-left"></i>Back</a>
                    </div>
                </div>
                <!--end section-->

                <div class="next form-section-container current-pre-workout-container">
                    <h2 id="current-pre-workout" class="page-heading">Current pre-workout</h2>

                    <div class="form-group form-section pre-workout-section">
                        <h3 class="section-heading">Do you currently take pre-workout supplements?</h3>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Current Pre-Workout" value="No" checked="checked"> No
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Current Pre-Workout" value="Yes">Yes
                            </label>
                        </div>
                    </div>
                    <!--end form group-->
                    <div class="controls">
                        <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next <i
                                class="arrow fa fa-arrow-right"></i></a>
                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="arrow fa fa-arrow-left"></i>Back</a>
                    </div>
                </div>
                <!--end section-->
                <div class="next form-section-container flavor-selection">
                    <div class="form-group form-section">
                        <h2 class="page-heading">Pick your flavor</h2>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default flavor-btn active">
                                <img src="img/lemon.png">
                                <input type="radio" name="Flavor" value="Lemonade" autocomplete="off">
                                <h4>Lemonade</h4>
                            </label>
                            <label class="btn btn-default flavor-btn">
                                <img src="img/ras-lemon.png">
                                <input type="radio" name="Flavor" value="Raspberry Lemonade" autocomplete="off">
                                <h4>Raspberry Lemonade</h4>
                            </label>
                            <label class="btn btn-default flavor-btn">
                                <img src="img/cherry-limade.png">
                                <input type="radio" name="Flavor" value="Black Cherry Limeade" autocomplete="off">
                                <h4>Black Cherry Limeade</h4>
                            </label>
                            <!--           <label class="btn btn-default col-md-3">
                                           <div class="circle">X</div>
                                           <input type="radio" name="Flavor" value="none"  autocomplete="off">
                                           <h4>No Flavor </h4>

                                       </label>-->
                        </div>
                    </div>
                    <div class="controls">
                        <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next <i
                                class="fa fa-arrow-right"></i></a>
                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="fa fa-arrow-left"></i>Back</a>
                    </div>
                </div><!--end section-->




                <div class="next form-section-container comments-container">
                    <div class="form-group form-section">
                        <h3 class="section-heading">Additional Information</h3>

                        <p class="section-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                            ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        <textarea name="comments" class="form-control" rows="3"></textarea>
                    </div>
                    <!--end form group-->
                    <div class="controls">

                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="arrow fa fa-arrow-left"></i>Back</a>
                        <button id="reviewOrder" class="btn btn-info review-btn pull-right" type="submit">Review Your
                            Order
                        </button>
                    </div>
                </div>
                <!--end section-->

            </form>

        </div>
        <!--end custom select row-->
    </div>
    <!--end container-->
</div>
<!--end wrapper-->
<div class="footer">
    <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>
    <ul class="footer-links">
        <li><a href="#" title="#">Create</a></li>

        <li><a href="#" title="#">FAQ</a></li>
        <li><a href="#" title="#">Contact</a></li>
    </ul>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>




<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

