<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Perfect Supplement</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body id="{{pageId}}">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="container">
            <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>

            <div class="row design-supplement-container">
                <form id="supplementForm">
                    <div class="form-group form-section">
                        <h2 class="page-heading">Name Your Supplement</h2>
                        <label for="supplementName"><span class="sub-heading">Have some fun here...</span></label>
                        <input type="text" name="supplementName" class="form-control jumbo-input" id="supplementName">
                        <a href="#customize" class="btn btn-info next-btn pull-right"><i class="arrow fa fa-arrow-down"></i>Next</a>
                    </div><!--end form group-->
                    <div class="form-group form-section">
                        <h2 id="customize" class="page-heading">Design Your Supplement</h2>
                        <h3 class="section-heading">Caffeine</h3>
                        <p class="section-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                            ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="caffeine" value="fifty-mg" id="option1"  checked="checked"> 50 mg
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="caffeine" value="one-hundred-mg" id="option2" autocomplete="off"> 100 mg
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="caffeine" value="one-fifty-mg" id="option3" autocomplete="off"> 150 mg
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="caffeine" value="two-hundred-mg" id="option4" autocomplete="off"> 200 mg
                            </label>
                        </div>
                        <a href="#comments" class="btn btn-info next-btn pull-right"><i class="arrow fa fa-arrow-down"></i>Next</a>
                    </div><!--end form group-->
                    <div class="form-group form-section">
                        <h2 id="comments" class="page-heading">Any thing else?</h2>
                        <h3  class="section-heading">Additional Information</h3>
                        <p class="section-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                            ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        <textarea name="comments" class="form-control" rows="3"></textarea>
                    </div><!--end form group-->
                </form>
<button id="reviewOrder" class="btn btn-primary" type="submit">Review Your Order</button>
            </div><!--end custom select row-->


        </div><!--end container-->
<div class="footer">
    <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>
    <ul class="footer-links">
        <li><a href="#" title="#">Create</a></li>

        <li><a href="#" title="#">FAQ</a></li>
        <li><a href="#" title="#">Contact</a></li>
    </ul>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

        <script>
            $("#reviewOrder").on("click", function( event ) {
                event.preventDefault();
                var $form = $("#supplementForm")
                var host = window.location.origin
                var endpoint = "/order-my-perfect-supplement"
                var params = $form.serialize()
                if (params) {
                    window.location.href = host + endpoint + "/?" + params
                }
                else {
                    alert("no form params!!!")
                }
                console.log($form.serialize());
            });
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

