<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Perfect Supplement</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body id="{{pageId}}">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
    <div class="btn-group mobile-nav pull-right">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <nav id="main-nav">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="container">
        <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>

        <div class="row form-section-wrapper design-supplement-container">
            <form id="supplementForm">
                <div class="active form-section-container name-supplement-container">
                    <div class="form-group form-section">
                        <h2 class="page-heading">Name Your Supplement</h2>
                        <label for="supplementName"><span class="sub-heading">Have some fun here...</span></label>
                        <input type="text" name="supplementName" class="form-control input-lg" id="supplementName">

                        <div class="controls">
                            <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next <i
                                    class="arrow fa fa-arrow-right"></i></a>

                        </div>
                    </div>
                    <!--end form group-->
                </div>
                <!--end section-->
                <div class="next form-section-container supplement-list-section lg-list">
                    <h2 id="customize" class="page-heading">Design Your Supplement</h2>

                    <div class="form-group form-section">
                        <h3 class="section-heading">Caffeine</h3>

                        <p class="section-content">A report published in Sports Medicine refers to caffeine as
                            a “powerful ergogenic aid,” and mentions that athletes can “train at a greater power
                            output and/or train longer” after caffeine consumption. Caffeine has been proven to boost
                            energy and mental focus, boost your metabolism, improve endurance by reducing your body’s
                            consumption of glycogen (the stored energy consumed during exercise), and reduce the build
                            up of lactic acid (lactic acid depletes glycogen). Caffeine, though beneficial in many
                            regards does lose its effectiveness with sustained consumption. It is recommended that
                            those who take caffeine reduce usage for set periods of time (roughly one week) to allow
                            the body to re-acclimate to the lack of stimulant. Note that caffeine is harmful if consumed
                            in excess. Please consult a
                            medical professional if you have any heart related conditions or if you are pregnant or
                            nursing.</p>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Caffeine" value="50mg" checked="checked"> 50 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Caffeine" value="100mg" autocomplete="off"> 100 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Caffeine" value="150mg" autocomplete="off"> 150 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Caffeine" value="200mg" autocomplete="off"> 200 mg
                            </label>
                        </div>

                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">Beta-Alanine</h3>

                        <p class="section-content">Beta Alanine has been proven to increase the body’s
                            concentration of a Carnosine, which is a natural buffer that decreases the
                            concentration of H+. Increased levels of H+ cause your body’s PH to drop during
                            sustained, high intensity training, diminishing your body's strength and endurance.
                            Therefore, a higher Carnosine concentration allows you to better sustain strength and
                            endurance during your workouts.
                        </p>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Beta-Alanine" value="1000mg" checked="checked"> 1000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Beta-Alanine" value="2000mg" autocomplete="off"> 2000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Beta-Alanine" value="3000mg" autocomplete="off"> 3000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Beta-Alanine" value="4000mg" autocomplete="off"> 4000 mg
                            </label>
                        </div>

                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">L-Arginine</h3>

                        <p class="section-content">Arginine is an amino acid essential in the body’s production of
                            protein. L-Arginine is also the amino acid broken down in the body’s production of Nitric
                            Oxide. Nitric Oxide improves blood flow, and increases the release of the hormone
                            adrenaline. That being said,
                            L-Arginine also has also been found to boost the immune system and help prevent
                            inflammation. </p>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="L-Arginine" value="1000mg" checked="checked"> 1000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="L-Arginine" value="2000mg" autocomplete="off"> 2000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="L-Arginine" value="3000mg" autocomplete="off"> 3000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="L-Arginine" value="4000mg" autocomplete="off"> 4000 mg
                            </label>
                            </label>
                        </div>

                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">Creatine Monohydrate</h3>

                        <p class="section-content">Creatine monohydrate is produced in the body from the
                            amino acids arginine, glycine, and methionine. Creatine is found in skeletal
                            muscle in the form of creatine phosphate. Its main mode of action is to provide
                            an inorganic phosphate to re-synthesize ATP during high intensity activities,
                            typically lasting 10 seconds or less (i.e. sprinting,
                            high intensity weight lifting). In other words, it aids in the body’s production of
                            energy. </p>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Creatine-Monohydrate" value="1000mg" checked="checked"> 1000
                                mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Creatine-Monohydrate" value="2000mg" autocomplete="off"> 2000
                                mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Creatine-Monohydrate" value="4000mg" autocomplete="off"> 4000
                                mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Creatine-Monohydrate" value="6000mg" autocomplete="off"> 6000
                                mg
                            </label>
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">Branch Chain Amino Acids</h3>

                        <p class="section-content">It's well established that branched chain amino acids (particularly
                            leucine)
                            stimulate protein synthesis, and might do so to a greater extent than a normal protein on
                            its own.
                            BCAAs also increase synthesis of the cellular machinery responsible for carrying out the
                            process of protein
                            synthesis. Thus, BCAAs not only increase the rate of protein synthesis, but they also
                            increase the cell's
                            CAPACITY for protein synthesis. BCAAs also work in your favor by reducing the rate of
                            protein breakdown.
                            They do this (primarily) by decreasing the activity of the components of the protein
                            breakdown pathway,
                            and also by decreasing the expression of several complexes involved in protein
                            breakdown. </p>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="Branch-Chain-Amino-Acids" value="1000mg" checked="checked">
                                1000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Branch-Chain-Amino-Acids" value="2000mg" autocomplete="off">
                                2000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Branch-Chain-Amino-Acids" value="4000mg" autocomplete="off">
                                4000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="Branch-Chain-Amino-Acids" value="6000mg" autocomplete="off">
                                6000 mg
                            </label>
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">N-Acetyl L-Tyrosine</h3>

                        <p class="section-content">This amino acid is critical for a number of different bodily
                            functions such as cognitive processes, building muscles, and cell growth and recovery.
                            Taking N-Acetyl L-Tyrosine can support peak perfor- mance from both your brain and body by
                            alleviating stress, stimulating your mind and improving neural communication. It is one of
                            the cognitive enhancement supplements that can promote better balance in the
                            neurotransmitter levels in your brain. See more at: http://nootriment.com/n-acetyl-l-ty-
                            rosine/#sthash.QYzYW1Ls.dpuf
                        </p>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="N-Acetyl-L-Tyrosin" value="300mg" checked="checked"> 300 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="N-Acetyl-L-Tyrosin" value="400mg" autocomplete="off"> 400 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="N-Acetyl-L-Tyrosin" value="500mg" autocomplete="off"> 500 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="N-Acetyl-L-Tyrosin" value="600mg" autocomplete="off"> 600 mg
                            </label>
                            </label>
                        </div>
                    </div>
                    <!--end form group-->

                    <div class="form-group form-section">
                        <h3 class="section-heading">L-Glutamine</h3>

                        <p class="section-content">During an intense workout the body is stressed and your muscles
                            and tendons require more gluta- mine than the amount supplied by a normal diet.
                            After an intense workout the levels of cellular gluta- mine can drop by 50%! This
                            ‘muscle wasting state’ is a gateway for the body to use your muscle for energy
                            rather than carbohydrates. Glutamine can prevent this from happening. Supplementing with
                            L-glutamine allows your muscles to fight and push a bit further,
                            which boosts strength and it also has an important role in repairing the skeletal
                            muscles. </p>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="L-Glutamine" value="4000mg" checked="checked"> 4000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="L-Glutamine" value="5000mg" autocomplete="off"> 5000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="L-Glutamine" value="6000mg" autocomplete="off"> 6000 mg
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="L-Glutamine" value="7000mg" autocomplete="off"> 7000 mg
                            </label>
                            </label>
                        </div>
                    </div>
                    <!--end form group-->
                    <div class="controls">
                        <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next <i
                                class="fa fa-arrow-right"></i></a>
                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="fa fa-arrow-left"></i>Back</a>
                    </div>
                </div>
                <!--end section-->
                <div class="next form-section-container flavor-selection">
                    <div class="form-group form-section">
                        <h2 class="page-heading">Pick your flavor</h2>

                        <div class="btn-group lg-btns" data-toggle="buttons">
                            <label class="btn btn-default flavor-btn active">
                                <img src="img/lemon.png">
                                <input type="radio" name="Flavor" value="Lemonade" autocomplete="off">
                                <h4>Lemonade</h4>
                            </label>
                            <label class="btn btn-default flavor-btn">
                                <img src="img/ras-lemon.png">
                                <input type="radio" name="Flavor" value="Raspberry Lemonade" autocomplete="off">
                                <h4>Raspberry Lemonade</h4>
                            </label>
                            <label class="btn btn-default flavor-btn">
                                <img src="img/cherry-limade.png">
                                <input type="radio" name="Flavor" value="Black Cherry Limeade" autocomplete="off">
                                <h4>Black Cherry Limeade</h4>
                            </label>
                            <!--           <label class="btn btn-default col-md-3">
                                           <div class="circle">X</div>
                                           <input type="radio" name="Flavor" value="none"  autocomplete="off">
                                           <h4>No Flavor </h4>

                                       </label>-->
                        </div>
                    </div>
                    <div class="controls">
                        <a href="javascript:void(0)" class="btn btn-success next-btn pull-right">Next <i
                                class="fa fa-arrow-right"></i></a>
                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="fa fa-arrow-left"></i>Back</a>
                    </div>
                </div><!--end section-->

                <div class="next form-section-container comments-container">
                    <div class="form-group form-section">
                        <h2 id="comments" class="page-heading">Any thing else?</h2>

                        <h3 class="section-heading">Additional Information</h3>

                        <p class="section-content">Please provide any additional information that will help
                            our nutritionists build your perfect supplement, such as any relevant health related info. </p>
                        <textarea name="comments" class="form-control" rows="3"></textarea>
                    </div>
                    <!--end form group-->
                    <div class="controls">
                        <a href="javascript:void(0)" class="btn btn-success prev-btn pull-left"><i
                                class="arrow fa fa-arrow-left"></i>Back</a>
                        <button id="reviewOrder" class="btn btn-info review-btn pull-right" type="submit">Review Your
                            Order
                        </button>
                    </div>

                </div>
                <!--end section-->
            </form>

        </div>
        <!--end custom select row-->

    </div>
    <!--end container-->
</div>
<!--end wrapper-->
<div class="footer">
    <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>
    <ul class="footer-links">
        <li><a href="/select-customization" title="select customization">Create</a></li>
        <li><a href="/contact" title="contact">Contact</a></li>
    </ul>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script>
    $("#reviewOrder").on("click", function (event) {
        event.preventDefault();
        var $form = $("#supplementForm")
        var host = window.location.origin
        var endpoint = "/order-my-perfect-supplement"
        var params = $form.serialize()
        if (params) {
            window.location.href = host + endpoint + "/?" + params
        }
        else {
            alert("no form params!!!")
        }
        console.log($form.serialize());
    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58720392-1', 'auto');
    ga('send', 'pageview');

</script>

