<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Perfect Supplement</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body id="checkout">
<div class="container">
    <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>

    <form action="" method="POST" id="payment-form">
        <div class="row form-container">
            <div class="col-md-12">
<div class="form-group form-section">
    <h1 class="form-section-heading-chk">Order Summary</h1>
    <h2>Name: Rynos rocket fluid</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">50mg</span>
            Caffiene
        </li>
    </ul>

</div>
    <div class="form-group form-section">
    <h1 class="form-section-heading-chk">Billing Details</h1>

                    <!-- Street -->
                    <div class="form-group">
                        <!--<label class="col-sm-4 control-label" for="street-nm">Street</label>-->
                        <div class="col-sm-6">
                            <input type="text" id="stree-nmt" name="street" placeholder="Street" class="address form-control">
                        </div>
                    </div>

                    <!-- City -->
                    <div class="form-group">
                <!--        <label class="col-sm-4 control-label" for="textinput">City</label>-->
                        <div class="col-sm-6">
                            <input type="text" name="city" placeholder="City" class="city form-control">
                        </div>
                    </div>

                    <!-- State -->
                    <div class="form-group">
                  <!--      <label class="col-sm-4 control-label" for="textinput">State</label>-->
                        <div class="col-sm-6">
                            <input type="text" name="state" maxlength="65" placeholder="State" class="state form-control">
                        </div>
                    </div>

                    <!-- Postcal Code -->
                    <div class="form-group">
              <!--          <label class="col-sm-4 control-label" for="textinput">Postal Code</label>-->
                        <div class="col-sm-6">
                            <input type="text" name="zip" maxlength="9" placeholder="Postal Code" class="zip form-control">
                        </div>
                    </div>


                    <!-- Email -->
                    <div class="form-group">
            <!--            <label class="col-sm-4 control-label" for="textinput">Email</label>-->
                        <div class="col-sm-6">
                            <input type="text" name="email" maxlength="65" placeholder="Email" class="email form-control">
                        </div>
                    </div>
<!--end personal info-->
                </div>

                <div class="form-group form-section">
                    <h1>Payment Details</h1>

                        <!-- Card Holder Name -->
                        <div class="form-group">
                         <!--   <label class="col-sm-4 control-label"  for="textinput">Card Holder's Name</label>-->
                            <div class="col-sm-6">
                                <input type="text" name="cardholdername" maxlength="70" placeholder="Card Holder Name" class="card-holder-name form-control">
                            </div>
                        </div>

                        <!-- Card Number -->
                        <div class="form-group">
                     <!--       <label class="col-sm-4 control-label" for="textinput">Card Number</label>-->
                            <div class="col-sm-6">
                                <input type="text" id="cardnumber" maxlength="19" placeholder="Card Number" class="card-number form-control">
                            </div>
                        </div>

                        <!-- Expiry-->
                        <div class="form-group ex-date-container">
                            <label class="col-sm-4 control-label ex-date-heading">Card Expiry Date</label>

                                <div class="form-inline ex-date-selection">
                                    <select name="select2" data-stripe="exp-month" class="card-expiry-month stripe-sensitive required form-control">
                                        <option value="01" selected="selected">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <span> / </span>
                                    <select name="select2" data-stripe="exp-year" class="card-expiry-year stripe-sensitive required form-control">
                                    </select>
                                </div>

                        </div>

                        <!-- CVV -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label sec-code-heading">CVV/CVV2</label>
                            <div class="col-sm-3">
                                <input type="text" id="cvv" placeholder="CVV" maxlength="4" class="card-cvc form-control">
                            </div>
                        </div>

                        <!-- Submit -->
                        <div class="control-group">
                            <div class="controls ">

                                    <button class="btn btn-success" type="submit">Checkout</button>

                            </div>
                        </div>
                   </div>
            </div>
        </div>
    </form>
</div><!--end container-->
<div class="footer">
    <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>
    <ul class="footer-links">
        <li><a href="#" title="#">Create</a></li>

        <li><a href="#" title="#">FAQ</a></li>
        <li><a href="#" title="#">Contact</a></li>
    </ul>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>