<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Order My Perfect Supplement</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/parsley.css">

    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body id="checkout">
<div class="wrapper">
    <div class="btn-group mobile-nav pull-right">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <nav id="main-nav">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="container">
    <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>


	
	
	<form action="/order-my-perfect-supplement" method="POST">
        <div class="row form-container">
            <div class="col-md-12"> 
<div class="form-group form-section">
    <h2 class="page-heading">Almost there...</h2>
    <p class="nutra-content">Please provide your name and email address and one of our supplement experts will be reaching out to you shortly.</p>
	<!-- <h2 class="order-summary-name">15 servings of {{{name}}}</h2> <h2 class="order-price"><strong>$19.99</strong> </h2> -->
<!--    <img id="nutra-girl" src="/img/kim.jpg">

    <p class="nutra-content">Kim is going to create your perfect supplement and contact you if
        she has any questions. Make sure to keep us posted on your progress!</p>

    <p class="nutra-content">We will get started on creating your perfect supplement and contact you if we
        have any questions. Make sure to keep us posted on your progress!</p>


<!--    <p class="nutra-content">Make sure to keep us posted on your progress!</p>-->
<!--
        Once she gathers some information about you and your fitness goals she will be able to start creating your supplement.
-->
    <!-- </p> -->
   <!-- <h1 class="form-section-heading-chk">Order Summary</h1>-->
    <!-- <div class="clearfix"> -->
        <!--<h2 class="order-summary-name">15 servings of {{{name}}}</h2> <h2 class="order-price"><strong>$19.99</strong> </h2>-->
   <!-- Email -->
   <div class="form-group">
       <label class="col-sm-8 control-label" for="textinput">Name</label>
       <div class="col-sm-12">
           <input required type="text" name="name" placeholder="Name" class="form-control">
       </div>
   </div>
       <!-- Email -->
   <div class="form-group">
       <label class="col-sm-8 control-label" for="textinput">Email</label>
       <div class="col-sm-12">
           <input required data-parsley-trigger="change" type="email" name="email" maxlength="65" placeholder="Email" class="email form-control">
       </div>
   </div>


                   <!-- Submit -->
                   <div class="control-group">
                       <div class="controls text-center">
                               <input class="btn btn-info btn-lg wheeler"  type="submit">Submit</input>

                       </div>
                   </div>
   
    </div>






             








    


         </div>  
        </div>
    </form> 
</div><!--end container-->
<div class="footer">
    <h1 class="logo-page"><a href="/" title="My Perfect Supplement">My Perfect Supplement</a></h1>
    <ul class="footer-links">
        <li><a href="/select-customization" title="select customization">Create</a></li>
        <li><a href="/contact" title="contact">Contact</a></li>
    </ul>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="../libs/parsley.js"></script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>




<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58720392-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>