<ul id="home-nav">
  <!--<li><a ui-sref="schedule" href="#"><div class="fa fa-calendar-o fa-5x"></div>Schedule</a></li>-->
  <li><a ui-sref="schedule" href="#"><div class="fa fa-user fa-5x"></div>Clients</a></li>
  <li><a ui-sref="providerRecommendations" href="#"><div class="fa fa-heartbeat fa-5x"></div>Recommendations</a></li>
  <li><a ui-sref="schedule" href="#"><div class="fa fa-comment-o fa-5x"></div>Messages</a></li>
  <!--<li><a ui-sref="schedule" href="#"><div class="fa fa-shopping-cart fa-5x"></div>Orders</a></li>-->
  <!--<li><a ui-sref="schedule" href="#"><div class="fa fa-flask fa-5x"></div>Inventory</a></li>-->
</ul>
