<section class="row" id="headerimg"></section>
<section class="header">
    <p>Customized pre & post workout supplement plans designed to fit your life-style and fitness goals</p>
    <a class="btn-modified" ng-click="openGetStartedModal()">Get Started</a>
</section>
<section>
    <h2 class="whoweare">Who we are</h2>
    <p class="whowearetext">For the busy, health conscious individual, we provide convenient, cost efficient pre and post workout supplement plans designed to help you reach your fitness goals.</p>
</section>
<section class="row">
    <h2 class="howitworks">How it works</h2>
    <div class="col-sm-4">
        <img src="../img/icon_phone.png" class="imgproperty imgmodify"/>
        <h3 class="steps">Step 1</h3>
        <p class="stepstext">Talk to one of our supplement experts</p>
    </div>
    <div class="col-sm-4">
        <img src="../img/icon_mixing.png" class="imgproperty"/>
        <h3 class="steps">Step 2</h3>
        <p class="stepstext">Our experts design your supplement plan</p>
    </div>
    <div class="col-sm-4">
        <img src="../img/icon_truck.png" class="imgproperty imgmodify"/>
        <h3 class="steps">Step 3</h3>
        <p class="stepstext">We deliver your supplement to your doorstep </p>
    </div>
</section>
<section id="kickstartbg">
    <h2 class="kickstart">Ready to kickstart your body? <a class="btn-modified" ng-click="openGetStartedModal()">Get Started</a></h2>
</section>
<section>
    <h2 class="whyus">Why us?</h2>
    <div>
        <h3 class="whyustext1">Simple and Pure supplements picked for you</h3>
        <h4 class="whyustext2">We design your personlized supplement plan with the highest quality supplements (all natural options available).</h4>
    </div>
    <div>
        <h3 class="whyustext1">Conveniently packed with easy/personlized instructions</h3>
        <h4 class="whyustext2">Your supplement plan is organized into daily blocks of grab and go packets. Our optional subscription plan makes for hassle-free refills.</h4>
    </div>
    <div>
        <h3 class="whyustext1">Know what you are taking and why</h3>
        <h4 class="whyustext2">We only include supplements that your body needs to help you reach your goals. We provide the “whys” behind our decisions.</h4>
    </div>
</section>