<div class="headerContainer">
<h1 class="logoHeavy">nutrition<span class="logoLight">ist.io</span></h1>
<h2 class="title" style="font-weight:100">Healthy Living To Your Doorstep</h2>
<br />
<div ng-show="!registrationComplete">
  <form name="consumerRegistrationForm" ng-submit="register()">
    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" style="margin-bottom:10px">
    <input type="submit" value="Create Account" class="btn btn-lg btn-info margins">
  </form>
  <div style="margin-top: 10px">
    <h6 style="font-weight: 200; color: #ffffff;  opacity: .7; display: inline">Already registered? </h6>
    <h6 style="font-weight: 700; display: inline"><a style="color: #FFFFFF" ui-sref="auth.consumerLogin" href="#">Sign In</a></h6>
  </div>
</div>
<div ng-show="registrationComplete">
  <h3>Please check your email for confirmation information...</h3>
</div>
</div>